<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts-->
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Custom styles-->
    <link href="{% static '/css/basic.css' %}" rel="stylesheet">

    <link href="{% static '/css/main.css' %}" rel="stylesheet">

</head>
<body id="page-top">
<div style="display: inline-flex;
    width: 100%;
    height: 70px;
    padding: 15px;
    background-color: #2c3e50;color: white">
    <img id="icon_img" src="{% static "/images/logo_2.png" %}">
    <p class="h-100 m-auto h4">WENDOU (Water ENvironment Dashboard for Observation in support of Users in Ferlo, Senegal)</p>
    <!--<div id="google_translate_element"></div><script type="text/javascript">-->
    <!--function googleTranslateElementInit() {-->
    <!--new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');-->
    <!--}-->
    <!--</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>&nbsp-->

    <a type="button" class="pr-2 text-decoration-none text-white mr-2 h3" data-bs-toggle="modal"
       data-bs-target="#help-modal"> &#9432;</a>
    <a type="button" class="pr-2 pt-1 text-decoration-none" target="_blank" href="https://servirglobal.net/">
        <img src="/static/images/SERVIR_flat_white.png" height="30" width="150">
    </a>

</div>
<div id="wrapper">
    <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
        <div class="modal-dialog" role="document" id=help_modal_id"  style="width: 100%;">
            <div class="modal-content"  style="width: 70vh;">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body small">

                    <p>Clause de non-responsabilité:</p>
<p>Le programme SERVIR, la NASA, l'USAID et les organisations partenaires de SERVIR ne donnent aucune garantie expresse ou implicite de cette application quant à la qualité marchande ou à l'adéquation à un usage particulier. Ni le gouvernement des États-Unis ni ses sous-traitants ne seront responsables des dommages spéciaux, consécutifs ou accessoires attribués à cette application.</p>
                    <p>Disclaimer:</p>
                    <p class="text-justify">The SERVIR Program, NASA, USAID and SERVIR partner organizations
                        make no express or implied warranty of this application as to the
                        merchantability or fitness for any particular purpose.
                        Neither the US Government nor its contractors shall be liable for
                        special, consequential or incidental damages attributed to this application.</p>

                    <p><a href="https://servirglobal.net/Privacy-Terms-of-Use" target="_blank">Privacy and Terms of
                        Use</a></p>
                </div>

                <div class="modal-footer justify-content-center">
                    <div align="center" id="logos">
                      <div>  <a href="http://www.usaid.gov/" target="_blank"><img class="logo-image"
                                                                             src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/usaid.png"></a>
                        <a href="http://appliedsciences.nasa.gov/" target="_blank"><img class="logo-image"
                                                                                        src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/nasa.png"></a>
                        </div>

                        <div> <a href="" target="_blank"><img class="logo-image"
                                                                                 src="/static/images/logos/Picture1.png"></a>
                        <a href="" target="_blank"><img class="logo-image"
                                                                             src="/static/images/logos/Picture2.png"></a>
                        <a href="" target="_blank"><img class="logo-image"
                                                                              src="/static/images/logos/Picture3.png"></a>
                        <a href="" target="_blank"><img class="logo-image"
                                                                            src="/static/images/logos/Picture4.png"></a>
                               <a href="" target="_blank"><img class="logo-image"
                                                                            src="/static/images/logos/Picture5.png"></a>
                   </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="width: 350px;">
        {% block app_navigation_items %}
        {% endblock app_navigation_items %}
    </div>
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content" style="color: white">
            {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}


            <!-- Begin Page Content -->
            {#                <div class="container-fluid">#}
            <!-- Page Heading -->
            <div class="align-items-center justify-content-between">
            </div>
            <!-- Content Row -->
            {#                    <div class="row">#}

            {% block app_content %}
            {% endblock %}
            {#                    </div>#}

        </div>
    </div>
    <!-- End of Main Content -->
    <!-- Footer -->

    {#        </div>#}
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</body>
</html>